<div class="container">
  <div class="row mt-5">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
        <div class="form-group">
          <label for="email">Email</label>
          <input
            class="form-control"
            name="email"
            email="email"
            type="text"
            required
            email
            [(ngModel)]="user.email"
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
            class="form-control"
            name="password"
            email="password"
            type="text"
            required
            [(ngModel)]="user.password"
            minlength="6"
          />
        </div>
        <div>
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!userForm.valid"
          >
            SignUp
          </button>
          |
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!userForm.valid"
          >
            Switch To Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
